.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 400px;
  flex-wrap: wrap;
  margin: auto;
}
#messages {
  height: 75%;
  width: 100%;
  border: 1px solid black;
}
#name {
  height: 10%;
  width: 75%;
}
#message {
  height: 15%;
  width: 100%;
}
button {
  height: 10%;
  width: 24%;
  margin: auto;
}